apiVersion: v1
kind: ConfigMap
metadata:
  name: landing-page-config
  namespace: {{ .Release.Namespace }}
data:
  config.js: |
    window.theiaCloudConfig = {
      appId: "{{ tpl (index .Values "theia-cloud" "app" "id" | toString) . }}",
      appName: "{{ tpl (index .Values "theia-cloud" "app" "name" | toString) . }}",
      useEphemeralStorage: {{ tpl (index .Values "theia-cloud" "landingPage" "ephemeralStorage" | toString) . }},
      useKeycloak: {{ tpl (index .Values "theia-cloud" "keycloak" "enable" | toString) . }},
      keycloakAuthUrl: "{{ tpl (index .Values "theia-cloud" "keycloak" "authUrl" | toString) . }}",
      keycloakRealm: "{{ tpl (index .Values "theia-cloud" "keycloak" "realm" | toString) . }}",
      keycloakClientId: "{{ tpl (index .Values "theia-cloud" "keycloak" "clientId" | toString) . }}",
      {{- if .Values.hosts.usePaths }}
      serviceUrl: "{{ tpl (index .Values "theia-cloud" "service" "protocol" | toString) . }}://{{ tpl (.Values.hosts.configuration.baseHost | toString) . }}/{{ tpl (.Values.hosts.configuration.service | toString) . }}",
      {{- else }}
      serviceUrl: "{{ tpl (index .Values "theia-cloud" "service" "protocol" | toString) . }}://{{ tpl (.Values.hosts.configuration.service | toString) . }}.{{ tpl (.Values.hosts.configuration.baseHost | toString) . }}",
      {{- end }}
      appDefinition: "{{ tpl (index .Values "theia-cloud" "landingPage" "appDefinition" | toString) . }}",
      additionalApps: [
        {{- range $key, $val := (index .Values "theia-cloud" "landingPage" "additionalApps") }}
        {
          appId: {{ $key | quote}},
          appName: {{ $val.label | quote }},
          {{- if $val.icon }}
          logo: {{ $val.icon | quote }},
          {{- end }}
        },
        {{- end }}
      ],
      // We force PNG because we are forcing logo.png in the deployment
      logoFileExtension: "png",
      disableInfo: {{ tpl (index .Values "theia-cloud" "landingPage" "disableInfo" | toString) . }},
      {{- if (index .Values "theia-cloud" "landingPage" "infoText") }}
      infoText: "{{ tpl (index .Values "theia-cloud" "landingPage" "infoText" | toString) . }}",
      {{- end }}
      {{- if (index .Values "theia-cloud" "landingPage" "infoTitle") }}
      infoTitle: "{{ tpl (index .Values "theia-cloud" "landingPage" "infoTitle" | toString) . }}",
      {{- end }}
      {{- if (index .Values "theia-cloud" "landingPage" "loadingText") }}
      loadingText: "{{ tpl (index .Values "theia-cloud" "landingPage" "loadingText" | toString) . }}",
      {{- end }}
      {{- if (index .Values "theia-cloud" "landingPage" "footerLinks") }}
      footerLinks: {
        {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "attribution") }}
        attribution: {
          {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "attribution" "text") }}
          text: "{{ tpl (index .Values "theia-cloud" "landingPage" "footerLinks" "attribution" "text" | toString) . }}",
          {{- end }}
          {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "attribution" "url") }}
          url: "{{ tpl (index .Values "theia-cloud" "landingPage" "footerLinks" "attribution" "url" | toString) . }}",
          {{- end }}
          {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "attribution" "version") }}
          version: "{{ tpl (index .Values "theia-cloud" "landingPage" "footerLinks" "attribution" "version" | toString) . }}",
          {{- end }}
        },
        {{- end }}
        {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "bugReport") }}
        bugReport: {
          {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "bugReport" "text") }}
          text: "{{ tpl (index .Values "theia-cloud" "landingPage" "footerLinks" "bugReport" "text" | toString) . }}",
          {{- end }}
          {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "bugReport" "url") }}
          url: "{{ tpl (index .Values "theia-cloud" "landingPage" "footerLinks" "bugReport" "url" | toString) . }}",
          {{- end }}
        },
        {{- end }}
        {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "featureRequest") }}
        featureRequest: {
          {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "featureRequest" "text") }}
          text: "{{ tpl (index .Values "theia-cloud" "landingPage" "footerLinks" "featureRequest" "text" | toString) . }}",
          {{- end }}
          {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "featureRequest" "url") }}
          url: "{{ tpl (index .Values "theia-cloud" "landingPage" "footerLinks" "featureRequest" "url" | toString) . }}",
          {{- end }}
        },
        {{- end }}
        {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "about") }}
        about: {
          {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "about" "text") }}
          text: "{{ tpl (index .Values "theia-cloud" "landingPage" "footerLinks" "about" "text" | toString) . }}",
          {{- end }}
          {{- if (index .Values "theia-cloud" "landingPage" "footerLinks" "about" "url") }}
          url: "{{ tpl (index .Values "theia-cloud" "landingPage" "footerLinks" "about" "url" | toString) . }}",
          {{- end }}
        },
        {{- end }}
      },
      {{- end }}
    };

  # --- CORRECTED BLOCK ---
  {{- if (index .Values "theia-cloud" "landingPage" "logoData") }}
  logo.png: {{ index .Values "theia-cloud" "landingPage" "logoData" }}
  {{- end }}
  # -----------------------