name: Deploy Theia Cloud

on:
  workflow_dispatch:
  push:
    branches:
      - feature/**

jobs:
  helm-install:
    name: Install Theia Cloud Helm Chart
    permissions:
      contents: read
    runs-on: ubuntu-latest
    environment: theia-prod

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0 # Pick latest stable

      - name: Setup Kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG }}" > kubeconfig
          export KUBECONFIG=$PWD/kubeconfig
          chmod 600 kubeconfig
          kubectl config get-contexts
          kubectl get nodes

      - name: Setup Helm dependencies
        env:
          KUBECONFIG: ${{ github.workspace }}/kubeconfig
        run: |
          helm repo add theia-cloud-repo https://eclipse-theia.github.io/theia-cloud-helm/
          helm repo update
          helm dependency update ./charts/tum-theia-cloud
          helm upgrade theia-cloud-base theia-cloud-repo/theia-cloud-base --install -f theia-base-helm-values.yml
          helm upgrade theia-cloud-crds theia-cloud-repo/theia-cloud-crds --install -f theia-crds-helm-values.yml

      - name: Install Theia Cloud in namespace ${{ vars.NAMESPACE }}
        env:
          KUBECONFIG: ${{ github.workspace }}/kubeconfig
        run: |
          # Encode the certificates to base64 and save them to files
          echo "${{ secrets.THEIA_WILDCARD_CERTIFICATE_CERT }}" | base64 -w 0 > wildcard.crt
          echo "${{ secrets.THEIA_WILDCARD_CERTIFICATE_KEY }}" | base64 -w 0 > wildcard.key

          # Install the Helm chart
          helm upgrade --install tum-theia-cloud ./charts/tum-theia-cloud --namespace ${{ vars.NAMESPACE }} --create-namespace \
            --set theia-certificates.wildcardCertificate="$(cat wildcard.crt)" \
            --set theia-certificates.wildcardKey="$(cat wildcard.key)" \
            --set theia-cloud.keycloak.cookieSecret="${{ secrets.THEIA_KEYCLOAK_COOKIE_SECRET }}" \
            --set theia-cloud.keycloak.realm="${{ secrets.THEIA_KEYCLOAK_REALM }}" \
            --set theia-cloud.keycloak.clientId="${{ secrets.THEIA_KEYCLOAK_CLIENT_ID }}" \
            --set theia-cloud.keycloak.clientSecret="${{ secrets.THEIA_KEYCLOAK_CLIENT_SECRET }}"